-# Browse collections
.container-fluid#content
  .row.list-all-texts
    .col-sm-12.col-md-4
      .by-card-v02.text-sorting#sort_filter_panel
        = render partial: 'browse_filters'
    .col-sm-12.col-md-8
      .by-card-v02#thelist
        = render partial: 'browse_list'

.modal#authoritiesDlg{ 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1' }
  = render partial: 'authorities_select', locals: { authorities: @authorities, list: @authorities_list }

:javascript
  $(function() {
    $('#mobile_filter_btn').click(function() {
      $('#sort_filter_panel').show();
      $('#thelist').hide();
    });
  });

  function submit_filters() {
    window.history.pushState($('#collections_filters').serialize(), null, '/collections');
    startModal('spinnerdiv');
    $('#collections_filters').submit();
  }

  function resetPagination() {
    $('#collections_filters #page').val('1');
    $('#collections_filters #to_letter').val('');
    $('#collections_filters #search_after_value').val('');
    $('#collections_filters #search_after_id').val('');
  }
