%ul
  - @linked_people.each do |linked_person|
    %li
      != render_linked_person(linked_person)
      = link_to t(:delete),
                lexicon_linked_person_path(linked_person),
                method: :delete,
                data: { confirm: t(:are_you_sure) },
                remote: true
#new-linked-person-form
  = render partial: 'form', locals: { work: @work, linked_person: @work.linked_people.build }
