---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/rest.php/wikibase/v1/entities/items/Q12404844
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"item","id":"Q12404844","statements":{"P7507":[{"id":"Q12404844$test","rank":"normal","property":{"id":"P7507","data-type":"external-id"},"value":{"type":"value","content":"99"},"qualifiers":[],"references":[]}]}}'
recorded_at: Mon, 24 Feb 2026 01:00:00 GMT
