%h1= t('.title')

%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link#properties_tab{ href: '#', data: { toggle: :tab, target: '#properties' } }= t('.properties')
  %li.nav-item
    %a.nav-link#attachments_tab{ href: '#', data: { toggle: :tab, target: '#attachments' } }= t('.attachments')
  - if @lex_entry.lex_item.is_a?(LexPerson)
    %li.nav-item
      %a.nav-link#citations_tab{ href: '#', data: { toggle: :tab, target: '#citations' } }= t('.citations')
  %li.nav-item
    %a.nav-link#links_tab{ href: '#', data: { toggle: :tab, target: '#links' } }= t('.links')

.tab-content
  .tab-pane.fade#properties{ data: { load_url: @edit_properties_path } }
  .tab-pane.fade#attachments{ data: { load_url: lexicon_entry_attachments_path(@lex_entry) } }
  - if @lex_entry.lex_item.is_a?(LexPerson)
    .tab-pane.fade#citations{ data: { load_url: lexicon_person_citations_path(@lex_entry.lex_item) } }
  .tab-pane.fade#links{ data: { load_url: lexicon_entry_links_path(@lex_entry) } }

= link_to 'Show', lexicon_entry_path(@lex_entry)
\|
= link_to 'Back', lexicon_entries_path

:javascript
  $(function() {
    $('##{@tab}_tab').tab('show');
  });
