-# Browse authors
.row
  .col-sm-12.col-md-4
    .by-card-v02#sort_filter_panel
      = render partial: 'browse_filters'
  .col-sm-12.col-md-8
    .by-card-v02#thelist
      = render partial: 'browse_list'

:javascript
  function submit_filters() {
    window.history.pushState($('#authors_filters').serialize(), null, '/authors');
    startModal('spinnerdiv');
    $('#authors_filters').submit();
  }
