%h3= t(:aboutnesses)
- if add
  %span.static-btn= link_to t(:perform_add), manifestation_path(@m, action: :add_aboutnesses)
%ol#aboutness_list
  - @w.topics.each do |ab|
    %li
      != aboutness_html(ab, edit)
