-# Browse works
#content.container-fluid
  .row.list-all-texts
    .col-sm-12.col-md-4
      .by-card-v02.text-sorting#sort_filter_panel
        = render partial: 'browse_filters'
    .col-sm-12.col-md-8
      .by-card-v02#thelist
        = render partial: 'browse_list'

#authorsDlg.modal{'aria-hidden' => 'true', role: 'dialog', tabindex: '-1'}
  = render partial: 'authors_select', locals: {authors: @authors, list: @authors_list}
- if current_user
  = render partial: 'shared/anth_stuff'

:javascript
  function submit_filters() {
    window.history.pushState($('#works_filters').serialize(), null, '/works');
    startModal('spinnerdiv');
    $('#works_filters').submit();
  }
