.col-md-6.col-sm-12.text-height-works-in-project{ class: extra_class, id: id }
  %p.headline-2-v02= label
  %ol{ style: 'margin-bottom:0' }
    - collection.each do |manifestation|
      %li= link_to lineclamp(manifestation.title_and_authors, 100), manifestation_path(manifestation.id)
