/* CSS Document */


@media only screen and (max-width: 1379px) {

  #header-general {
    width: 100%; }
	#header-author {
    width: 100%; }
	#header-text {
    width: 100%; }
	#header-about{
	width: 100%;}
	#header-BYD{
	width: 100%;}

  #content {
    width: 100%;
	}
}


@media only screen and (max-width: 1279px) {
.rm-control-panel{
	left: 30px;
}

.nested-content{
  padding-right: 0px;
}
.nested-content ul{
	padding-right: 0px;
}
.languanges-filters{
	padding-right: 24px;
}
.sort-type .by-icon-v02{
	margin-left: 2px;
}
.select-all-with-buttons .headline-4-v02{
	line-height: 22px;
}
.logoBY-v02 {
    max-width: 250px;
    padding-right: 0px;
	padding-top: 6px;
}
.header-logos .lexicon-logo{
	width: 56px;
	height: 56px;
}
.statistics-v02{
		width: auto;
	}
}

@media only screen and (max-width: 1236px){
	.statistics-box-v02{
	width: auto;
	padding-left: 4px;
	padding-right: 4px;
}
.header-logos{
		gap: 4px;
}
.header-search-area{
	width: auto;
}

}

@media only screen and (max-width: 1220px) {
	.topMenuItem-v02 {
  margin-left: 1px;
  margin-right: 1px;
}
	a .genre-nav{
	margin-top: 5px;
	margin-bottom: 5px;
}
	
}





